<div class="navigation" style="text-align: center;">
  <a href="{{site.baseurl}}/">Home</a> |
  <a href="{{site.baseurl}}/about-me">About me</a> |
  <a href="{{site.baseurl}}/learningplan">Learning plan</a> |
  <a href="{{site.baseurl}}/project">Project</a> |
  <a><div class="dropdown">
    <a class="dropbtn" href="{{site.baseurl}}/results">Results</a>
    <div class="dropdown-content">
      <a href="{{site.baseurl}}/results">Project 1</a>
      <a href="{{site.baseurl}}/results">Project 2</a>
      <a href="{{site.baseurl}}/results">Project 3</a>
    </div>
  </div></a> |
  <a href="{{site.baseurl}}/evaluation">Evaluation</a>
</div>