<div class="navigation" style="text-align: center;">
  <a href="{{site.baseurl}}/">Home</a> |
  <a href="{{site.baseurl}}/about-me">About me</a> |
  <a href="{{site.baseurl}}/learningplan">Learning plan</a> |
  <a><div class="dropdown">
    <a class="dropbtn" href="{{site.baseurl}}/project">R&D Project</a>
    <div class="dropdown-content">
      <!-- <a href="{{site.baseurl}}/project/research">Research</a> -->
      <a href="{{site.baseurl}}/project/webinar">Webinar</a>
      <a href="{{site.baseurl}}/project/peerreview">Peer review</a>
      <a href="{{site.baseurl}}/project/contribution">Contribution</a>
      <a href="{{site.baseurl}}/project/research">Research</a>
    </div>
  </div></a>  |
  <a><div class="dropdown">
    <a class="dropbtn" href="{{site.baseurl}}/results">Results</a>
    <div class="dropdown-content">
      <a href="{{site.baseurl}}/results/htb">HTB</a>
      <a href="{{site.baseurl}}/results/pentests">Pentests</a>
      <a href="{{site.baseurl}}/results/tooling">Tooling</a>
      <a href="{{site.baseurl}}/results/p4wnp1">P4wnp1</a>
      <a href="{{site.baseurl}}/results/dropbox">Dropbox</a>
      <a href="{{site.baseurl}}/results/lab">Lab</a>
    </div>
  </div></a> |
  <a href="{{site.baseurl}}/evaluation">Evaluation</a>
</div>